<div style="background-color:lightblue">
    
        <h1 class="container-fluid">Welcome to the Expense app</h1>

</div>



<div style="background-color:rgb(84, 127, 141)">

    <div class="containers" >
        <h3>
            Maintain your expenses here and check how much you have spent so far
        </h3>
    </div>
</div>

